
$space-large: 2rem;
$title-color: rgb(70, 70, 70);

.page-title {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
}

// body {
//     background-image:  url('../../styles/city-background.jpg');
// }